[alias]
  a       = add .
  adp     = add -p
  co      = checkout
  bch     = branch
  cm      = commit
  cma     = commit --amend
  cp      = cherry-pick
  sts     = status
  plog    = log --graph --pretty=format:'%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset'
[core]
  editor  = code --wait --reuse-window
  excludesfile  = ~/.gitignore
  autoCRLF = false
  quotepath = false
  commentChar = ";"
[ghq]
  root    = ~/src
[color]
  ui      = true
[diff]
  compactionHeuristic = true
[difftool]
  prompt = true
[mergetool]
  keepBackup = false
[commit]
  cleanup = strip
  template = ~/.gitmessage
[grep]
  lineNumber = true
[credential]
  helper = /usr/share/git/credential/libsecret/git-credential-libsecret
  helper = /usr/lib/git-core/git-credential-gnome-keyring
  helper = osxkeychain
  helper = wincred
  helper = manager-core
  helper = cache --timeout 86400
  helper = store
[include]
  path = ~/.gitconfig.local
  path = ~/.gitconfig.pager
[fetch]
  prune = true
[user]
  useConfigOnly = true
[includeif "gitdir:~/src/github.com/"]
  path = ~/.gitconfig.identity.default
[includeif "gitdir:~/.dotfiles/"]
  path = ~/.gitconfig.identity.default
[pull]
  rebase = false
[push]
  default = simple
[rerere]
  enabled = true
[init]
  defaultBranch = main
