[alias]
  a       = add .
  ap     = add -p
  co      = checkout
  bch     = branch
  m      = commit
  ma     = commit --amend
  cp      = cherry-pick
  sts     = status
  plog    = log --graph --pretty=format:'%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset'
[core]
  editor = code --wait --reuse-window
  autoCRLF = false
  quotepath = false
  commentChar = ";"
[color]
  ui      = true
[diff]
  colorMoved = default
[grep]
  lineNumber = true
[fetch]
  prune = true
[user]
  useConfigOnly = true
[pull]
  rebase = false
  ff = only
[push]
  default = simple
[init]
  defaultBranch = main
[merge]
  conflictstyle = diff3
[commit]
  cleanup = strip
[include]
  path = ~/.gitconfig.installed
  path = ~/.gitconfig.local
